@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;; 
  padding-top: 50px;
  font-size: 1rem; 
}

.fixed{
position: sticky;
margin-top:-4.5%;



}
.header-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background-color: #f4f4f4;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 0;

}


.logo {
  width: 250px;
  height: auto;
}

.condicoesv, .condicoest, .codicoesf{
  

}

section.carroselmostruário{
margin-top: 5%;
width: 100%;
height: auto;
padding: 0;
overflow: hidden;

}

.slides{
 width: 400%;
 height: auto;
 display: flex;
 

}

.slides input{
display: none;
}

.slidebox{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slidebox img{
border-radius: 5%;
box-shadow: #333;

}
.navmanual, .navauto{
  position: absolute;
  width: 100%;
  margin-top: 40%;
  display: flex;
  justify-content: center;
}

.navmanual .btnmanual, .navauto div{
border: 2px solid rgba(253, 253, 253, 0.055);
padding: 10px;
border-radius: 50%;
cursor: pointer;
transition: 0.5s;
}
.navmanual .btnmanual:not(:last-child), .navauto div:not(:last-child){
  margin-right: 5px;
}

.navmanual .btnmanual:hover{
  background-color: #961708;
}

#rad1:checked ~ .navauto .autobtn1{
  background-color: #4575db;
}
#rad2:checked ~ .navauto .autobtn2{
  background-color: #961708;
}
#rad3:checked ~ .navauto .autobtn3{
  background-color: #8f8f8f;
}

#rad1:checked ~ .first{
  margin-left: 0%;
}

#rad2:checked ~ .first{
  margin-left: -25%;
}

#rad3:checked ~ .first{
  margin-left: -50%;
}
/* Estilos gerais do container de produtos */
.container {
  display: flex;
  margin-top: 35px;
  margin-left: 12%;
  margin-right: 12%;
  justify-content: center;
  padding: ;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
a {
  text-decoration: none; /* Remove a linha de sublinhado dos links */
  color: inherit; /* Mantém a cor do texto padrão */
}

/* Estilo do card de produto */
.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.082);
  border-width: 5px;
  border-style: groove;
  overflow: hidden;
  width: 300px;
  margin: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
 
}

/* Efeito de hover para o card de produto */
.product-card:hover {
  transform: translateY(-10px);
}

/* Imagem do produto */
.product-img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

/* Título do produto */
.product-title {
  font-size: 1.5rem; /* Usando rem para ser relativo ao tamanho da fonte do body */
  font-weight: 600;
  margin: 15px 0;
  color: #333;
}

.Ano {
  font-size: 1.5rem; /* Usando rem para ser relativo ao tamanho da fonte do body */
  font-weight: 600;
  margin: 15px 0;
  color: #333;
}

/* Preço do produto */
.product-price {
  font-size: 1.25rem; /* Usando rem para ser relativo ao tamanho da fonte do body */
  color: #e74c3c;
  margin-bottom: 20px;
}

.vendido {
  background-color: #9b9b9b;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

/* Estilo do botão */
.contact-button {
  background-color: #2ecc71;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem; /* Usando rem para ser relativo ao tamanho da fonte do body */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
footer {
  background-color: #f8f9fa; /* Cor de fundo do rodapé */
    color: #333; /* Cor do texto */
    text-align: center; /* Centraliza o conteúdo */
    font-size: 0.75rem; /* Usando rem para ser relativo ao tamanho da fonte do body */
    padding: 5px 10px; /* Reduzido para um rodapé mais fino */
    margin-top: 10px; /* Menor espaço entre o rodapé e o conteúdo acima */
    border-top: 1px solid #ddd; /* Linha sutil no topo */
}
/* Hover do botão */
.contact-button:hover {
  background-color: #27ae60;
}

/* Link no botão */
.contact-button a {
  color: #fff;
  text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
  .product-card {
      width: 100%;
      margin: 10px 0;
  }
}