header {
    text-align: center;
    font-size: large;
    color:#ff0000;
    
} 


body{
    font-family: Arial, sans-serif;
    background-color: #9e9e9e
   ;
}





.card {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;

 } 
.card img {
    width: 100%;
    
}
.card h2 {
    font-size: 20px;
}
.card p {
    font-size: 16px;
}
.card button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
  
  }

.card1 {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;
  
}
.card1 img {
    width: 100%;
}
.card1 h2 {
    font-size: 20px;
}
.card1 p {
    font-size: 16px;
}
.card1 button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;

}
.card1 button:hover {
    transform: translate(5px, -5px);
  }

.card2 {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;
 
}
.card2 img {
    width: 100%;
}
.card2 h2 {
    font-size: 20px;
}
.card2 p {
    font-size: 16px;
}
.card2 button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
  
  }

.card3 {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;

}
.card3 img {
    width: 100%;
}
.card3 h2 {
    font-size: 20px;
}
.card3 p {
    font-size: 16px;
}
.card3 button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
  }


  .card4 {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;

}


.card4 img {
    width: 100%;
}
.card4 h2 {
    font-size: 20px;
}
.card4 p {
    font-size: 16px;
}
.card4 button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
  }


.card1a {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;
  
}

.card1a img {
    width: 100%;
}
.card1a h2 {
    font-size: 20px;
}
.card1a p {
    font-size: 16px;
}
.card1a button {
    font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
  }

.card2a {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;
  
}
.card2a img {
    width: 100%;
}
.card2a h2 {
    font-size: 20px;
}
.card2ap {
    font-size: 16px;
}
.card2a button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
}


.card3a {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;
 
}
.card3a img {
    width: 100%;
}
.card3a h2 {
    font-size: 20px;
}
.card3a p {
    font-size: 16px;
}
.card3a button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
  }

.card4a {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;

}
.card4a img {
    width: 100%;
}
.card4a h2 {
    font-size: 20px;
}
.card4a p {
    font-size: 16px;
}
.card4a button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
  }


  .card5a {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;

}


.card5a img {
    width: 100%;
}
.card5a h2 {
    font-size: 20px;
}
.card5a p {
    font-size: 16px;
}
.card5a button {
    font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
  }


  .card6a {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;

}
.card6a img {
    width: 100%;
}
.card6a h2 {
    font-size: 20px;
}
.card6a p {
    font-size: 16px;
}
.card6a button {
    font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
  }


  .card7a {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;

}
.card7a img {
    width: 100%;
}
.card7a h2 {
    font-size: 20px;
}
.card7a p {
    font-size: 16px;
}
.card7a button {
    font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
  }


  .card8a {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;

}
.card8a img {
    width: 100%;
}
.card8a h2 {
    font-size: 20px;
}
.card8a p {
    font-size: 16px;
}
.card8a button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
  }


  .card9a {
    margin-right: 20px;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;

}
.card9a img {
    width: 100%;
}
.card9a h2 {
    font-size: 20px;
}
.card9a p {
    font-size: 16px;
}
.card9a button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
  }

  

 

  


  .second{
    display: flex;
    flex-wrap: wrap; 
    align-content: flex-start;

    height: 100%;
    padding: 15px;
    gap: 5px;

    .second > div{
        background: #ff0000;
        border: 3px solid #ffd000;
        border-radius: 5px;
        padding: 8px;
      }


   .first{
    display: flex;
    flex-wrap: wrap; 
    align-content: flex-start;

    height: 100%;
    padding: 15px;
    gap: 5px;

}
.first > div{
    background: #ff0000;
    border: 3px solid #ffd000;
    border-radius: 5px;
    padding: 8px;
  }
    
}